<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config/>
	
	<authentication-manager alias="authenticationManager" erase-credentials="true">
		<authentication-provider user-service-ref="getronicsUserDetailsService" ref="getronicsAuthenticationProvider"></authentication-provider>
	</authentication-manager>

	<beans:bean id="authenticationProcessingFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager"
			ref="authenticationManager" />
		<beans:property name="filterProcessesUrl"
			value="/j_spring_security_check" />
		<beans:property name="authenticationSuccessHandler">
			<beans:bean
				class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
				<beans:property name="defaultTargetUrl"
					value="/index" />
			</beans:bean>
		</beans:property>
		<beans:property name="authenticationFailureHandler">
			<beans:bean
				class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
				<beans:property name="defaultFailureUrl"
					value="/errorlogin" />
			</beans:bean>
		</beans:property>
	</beans:bean>

	<beans:bean id="getronicsAuthenticationProvider" class="es.getronics.security.provider.GetronicsAuthenticationProvider">
		<beans:property name="userDetailsService" ref="getronicsUserDetailsService" />
	</beans:bean>

	<beans:bean id="getronicsUserDetailsService"
		class="es.getronics.security.service.GetronicsUserDetailsService" />
		
	<http auto-config="true" use-expressions="true" access-denied-page="/login">
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/index" access="hasRole('USERS_R')" method="GET" />
		<intercept-url pattern="/empleado/**" access="hasRole('EMPLOYEES_R')" method="GET" />
		<intercept-url pattern="/empleado/**" access="hasRole('EMPLOYEES_W')" method="POST" />
		<intercept-url pattern="/departamento/**" access="hasRole('DEPARTMENTS_R')" method="GET" />
		<intercept-url pattern="/departamento/**" access="hasRole('DEPARTMENTS_W')" method="POST" />
		<intercept-url pattern="/tecnologia/**" access="hasRole('TECHNOLOGIES_R')" method="GET" />
		<intercept-url pattern="/tecnologia/**" access="hasRole('TECHNOLOGIES_W')" method="GET" />
		<form-login login-page="/login" default-target-url="/index" />
		<logout invalidate-session="true" logout-success-url="/"
			logout-url="/j_spring_security_logout" />
	</http>
</beans:beans>